[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
supabase = "*"
python-dotenv = "*"
flask-cors = "*"
pyjwt = "*"
psycopg2-binary = "*"
qrcode = {extras = ["pil"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
